.row {
  margin: var(--spacer-sm) 0;
}

.inline {
  display: flex;
  align-items: center;
}

.label {
  font-size: var(--text-lg);
}

.inline .label {
  margin-right: var(--spacer-md);
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--spacer-xsm) 0;
}
