.container {
  width: 25vw;
  border: 1px solid var(--light-border);
  border-radius: 2px;
  padding: var(--spacer-lg) var(--spacer-xlg);
  height: 100%;
}

.title {
  margin: 0 0 var(--spacer-md);
  padding: 0;
  font-size: var(--text-xlg);
  font-weight: 700;
}

.sizeSlider {
  flex: 3;
  margin-right: var(--spacer-md);
}

.sizeNumberInput {
  flex: 2;
}

@media screen and (max-width: 1380px) and (min-width: 1001px) {
  .container {
    width: 32.5vw;
    padding: var(--spacer-lg) var(--spacer-md);
  }
}

@media screen and (max-width: 1000px) and (min-width: 405px) {
  .container {
    box-sizing: border-box;
    width: 90vw;
    height: 32.5vh;
    margin-top: 2.5vh;
    padding: var(--spacer-lg) var(--spacer-md);
  }
}

@media screen and (max-width: 404px) {
  .container {
    box-sizing: border-box;
    width: 90vw;
    height: 32.5vh;
    margin-top: 2.5vh;
    padding: var(--spacer-md);
  }

  .sizeSlider {
    flex: 2;
  }
}
