.container {
  flex: 1;
  border: 1px solid var(--light-border);
  border-radius: 2px;
  padding: var(--spacer-lg) var(--spacer-md);
}

.title {
  margin: 0 0 var(--spacer-md);
  padding: 0;
  font-size: var(--text-xlg);
  font-weight: 400;
}
