.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-border);
  margin-right: var(--spacer-lg);
  height: 80vh;
  width: calc(55vw - var(--spacer-lg));
}

@media screen and (max-width: 1380px) and (min-width: 1000px) {
  .container {
    width: calc(62.5vw - var(--spacer-md));
    margin-right: var(--spacer-md);
  }
}

@media screen and (max-width: 1000px) {
  .container {
    box-sizing: border-box;
    width: 90vw;
    height: 60vh;
    margin-right: 0;
  }
}
