/* Variables */
:root {
  /* colors */
  --light-border: #ebedf0;
  --normal-border: #dadada;

  --main-text: #505050;
  --muted-text: #8e969c;

  --primary-color: #159eee;

  /* font */
  --primary-font-family: "Roboto", sans-serif;
  --text-sm: 0.8rem;
  --text-lg: 1.2rem;
  --text-xlg: 1.5rem;

  /* sizing */
  --spacer-xsm: 0.5rem;
  --spacer-sm: 0.75rem;
  --spacer-md: 1rem;
  --spacer-lg: 1.5rem;
  --spacer-xlg: 2rem;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--main-text);
}

.container {
  display: flex;
  max-width: 100%;
  margin: 4rem auto;
  max-width: 1400px;
}
